@use "../../styles/abstracts/" as *;

.nav {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;

	&__logo-mark {
		width: 50px;
		height: 50px;
	}

	&__link {
		background-color: $white;
		color: $dark-md;
		padding: 0.8rem 1.2rem;
		display: flex;
		gap: 10px;
		align-items: center;
		text-decoration: none;
		font-weight: $font-weight-medium;
		border-radius: 5px;
		box-shadow: 0 0 30px -5px $color-primary;
		transition: box-shadow 0.1s ease-in;

		&:hover {
			box-shadow: 0 0 40px 0px $color-primary;
		}

		img {
			width: 24px;
		}
	}
}
