@use "./styles/reset";
@use "./styles/abstracts/index" as *;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap");

body {
	background-color: $dark-md;
	font-family: $font-family;
	font-size: $font-size-base;
	color: $white;
	line-height: 1.5;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1rem;
}
