@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #090b0c;
	font-family: "Manrope", sans-serif;
	font-size: 16px;
	color: #fff;
	line-height: 1.5;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1rem;
}
