@use "../../styles/abstracts/" as *;
@use "sass:color";

.link-form {
	margin: 3rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(20vw + 20rem);

	&__input {
		padding: 1rem 1.5rem;
		border-radius: 0.5rem;
		border: 1px solid color.adjust($white, $alpha: -0.7);
		color: $white;
		font-size: $font-size-base;
		font-weight: $font-weight-medium;
		background-color: $dark-md;
		font-family: $font-family;
		width: 100%;

		&::placeholder {
			color: color.adjust($white, $alpha: -0.7);
			font-size: $font-size-base;
			font-weight: $font-weight-medium;
		}

		@include focus-ring;
	}

	&__button {
		background-color: $color-primary;
		border: none;
		padding: 1rem 1.5rem;
		line-height: 1;
		border-radius: 4px;
		color: $white;
		font-size: $font-size-base;
		font-weight: $font-weight-medium;
		font-family: $font-family;
		cursor: pointer;
		text-decoration: none;
		margin-top: 1.5rem;
		width: 100%;

		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.6rem;

		transition: background-color 0.2s ease-in-out;

		img {
			width: 1.25rem;
		}

		&:hover {
			background-color: color.adjust($color-primary, $alpha: -0.5);
		}

		@include focus-ring;
	}
}
