@use "../../styles/abstracts/" as *;
@use "sass:color";

.link-form {
	margin: 3rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(20vw + 20rem);

	&__input-wrapper {
		width: 100%;

		&__input {
			padding: 1rem 1.5rem;
			border-radius: 0.5rem;
			border: 2px solid color.adjust($white, $alpha: -0.8);
			color: $white;
			font-size: $font-size-base;
			font-weight: $font-weight-normal;
			background-color: $dark-md;
			font-family: $font-family;
			width: 100%;

			&::placeholder {
				color: color.adjust($white, $alpha: -0.7);
				font-size: $font-size-base;
				font-weight: $font-weight-normal;
			}

			&:hover {
				border: 2px solid color.adjust($white, $alpha: -0.5);
			}

			&:focus {
				border: 2px solid $color-primary;
				outline: none;
			}

			&--error {
				border: 2px solid $color-danger;
			}

			// @include focus-ring;
		}

		.error-element {
			display: none;
			align-items: center;
			gap: 0.5rem;
			margin-top: 0.8rem;
			color: $color-danger;
			// font-weight: $font-weight-medium;

			&__icon {
				width: 1.25rem;
			}
		}
	}
	&__button {
		background-color: $color-primary;
		border: none;
		padding: 1rem 1.5rem;
		line-height: 1;
		border-radius: 4px;
		color: $white;
		font-size: $font-size-base;
		font-weight: $font-weight-medium;
		font-family: $font-family;
		cursor: pointer;
		text-decoration: none;
		margin-top: 2.5rem;
		box-shadow: 0 0 30px -5px $color-primary;
		// // width: 100%;

		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.6rem;

		transition: box-shadow 0.2s ease-in-out;

		img {
			width: 1.25rem;
		}

		&:hover {
			box-shadow: 0 0 40px 0px $color-primary;
			// background-color: color.adjust($color-primary, $alpha: -0.5);
		}

		@include focus-ring;
	}
}
