@use "../../styles/abstracts/" as *;

.preloader {
	width: 100vw;
	height: 100vh;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	overflow: hidden;

	.word {
		opacity: 0;
	}
}
